.search-tumbler {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.search-tumbler__toggle-checkbox {
  color: #fff;
  font-size: 12px;
  line-height: 1.5;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 12px;
  justify-content: space-between;
  cursor: pointer;
}

.search-tumbler__checkbox-track {
  cursor: pointer;
}

.search-tumbler__toggle-checkbox >
.search-tumbler__checkbox-track {
  appearance: none;
  width: 36px;
  height: 20px;
  padding: 2px;
  flex-shrink: 0;
  display: grid;
  grid: [track] 1fr / [track] 1fr;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  background: #343434;
  border-radius: 20px;
  transition: box-shadow .2s ease-out, opacity .2s ease-out;
  -webkit-transition: box-shadow .2s ease-out, opacity .2s ease-out;
  -moz-transition: box-shadow .2s ease-out, opacity .2s ease-out;
  -ms-transition: box-shadow .2s ease-out, opacity .2s ease-out;
  -o-transition: box-shadow .2s ease-out, opacity .2s ease-out;
}

.search-tumbler__toggle-checkbox >
.search-tumbler__checkbox-track::before {
  content: "";
  grid-area: track;
  width: 15px;
  height: 14px;
  border: 1px solid #fff;
  background-color: #343434;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: transform .2s ease-out, opacity .2s ease-out;
  -webkit-transition: transform .2s ease-out, opacity .2s ease-out;
  -moz-transition: transform .2s ease-out, opacity .2s ease-out;
  -ms-transition: transform .2s ease-out, opacity .2s ease-out;
  -o-transition: transform .2s ease-out, opacity .2s ease-out;
  transform: translateX(0);
}

.search-tumbler__toggle-checkbox >
.search-tumbler__checkbox-track:hover {
  box-shadow: 0 0 2px 2px #3DDC84;
}

.search-tumbler__toggle-checkbox >
.search-tumbler__checkbox-track:checked::before {
  background-color: #2BE080;
  border: 1px solid #fff;
  transform: translateX(15px);
  -webkit-transform: translateX(15px);
  -moz-transform: translateX(15px);
  -ms-transform: translateX(15px);
  -o-transform: translateX(15px);
}
