.logo {
  height: 38px;
  width: 38px;
  background-color: #202020;
  background-image: url(../../images/logo.svg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.logo_center {
  margin: 70px 0 18px 70px;
}

.logo_top {
  margin: 18px 0 18px 70px;
}

@media screen and (max-width: 1023px) {
  .logo_top {
    margin: 18px 0 18px 30px;
  }
}

@media screen and (max-width: 700px) {
  .logo_top {
    margin: 18px 0 18px 14px;
  }
}